.gameCell {
	padding: 1em;
	display: inline-block;
	text-align: center;
	margin: auto;
}

.grid-dot {
	background-image:url("../images/browndot.png");
	background-repeat: no-repeat;
	background-position: center;
	padding: 2.6em 3em 1em 1em;
	border: 1px solid black;
	/*overflow:visible;*/
}

.grid-cord {
	text-align: center;
	padding-top: 1em;
	padding-bottom:1em;
}

.game-grid {
	padding-left: 5em;
}

.button-container{
	padding-left:10em;
}

.wrapper{
	padding-left:5em;
}

.container {
	text-align: center;
}

.ship-wrap {
	padding-right: 3em;
	display: block;
}