.gameCell {
	padding: 1em;
	display: inline-block;
	/*background-image: url("../images/browndot.png");*/
	background-repeat: no-repeat;
	text-align: center;
	margin: auto;
	border: 1px solid black;
	/*background-size: 100%;*/
}

.grid-dot {
	background-image:url("../images/browndot.png");
	background-repeat: no-repeat;
	background-position: center;
	padding: 0 3em 1em 1em;
}

.grid-cord {
	text-align: center;
	padding-top: 1em;
}

.inner-cord {
	position: absolute;
}

/*.game-grid {
	padding-left: 5em;
}*/

.container {
	text-align: center;
}

/*.ship-image: hover{
	opacity:0.9;
	background:#000000;
}*/

.row0 {
	padding-left: 5.75em;
	padding-right: 3em;

}

.row1{
	overflow:visible;
}

