.gameCell {
	padding: 1em;
	display: inline-block;
	/*background-image: url("../images/browndot.png");*/
	background-repeat: no-repeat;
	text-align: center;
	margin: auto;
}

/*.game-grid {
	padding-left: 5em;
}*/

.container {
	text-align: center;
}

/*.ship-image: hover{
	opacity:0.9;
	background:#000000;
}*/

.row0 {
	padding-left: 2.5em;
<<<<<<< HEAD
}

=======
	overflow:visible;
}

.row1{
	overflow:visible;
}
>>>>>>> e97ae7290d3bffb6dc110df231b3216b7aa57cc5
